# Global
node_modules/
dist/
.env
.DS_Store
*.log

# React (frontend)
react-app/node_modules/
react-app/build/
react-app/.env
react-app/.DS_Store

# Node (backend)
node-app/node_modules/
node-app/.env
node-app/.DS_Store
